@model List<Class>

<h2>Available Classes</h2>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                @* <th>Class ID</th> *@
                <th>Class Name</th>
                <th>Teacher</th>
                <th>Capacity</th>
                <th>Students Enrolled</th>
                <th>Available Seats</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classItem in Model)
            {
                int enrolledStudents = classItem.Students.Count;
                int availableSeats = classItem.Capacity - enrolledStudents;

                <tr>
                    @* <td>@classItem.ClassID</td> *@
                    <td>@classItem.ClassName</td>
                    <td>@classItem.Teacher</td>
                    <td>@classItem.Capacity</td>
                    <td>@enrolledStudents</td>
                    <td>@availableSeats</td>
                    <td>

                        @if (availableSeats > 0)
                        {
                            <a id="join" href="@Url.Action("ClassEnrollmentForm", "Booking", new { id = classItem.ClassID })" class="btn btn-primary">Enroll</a>
                        }
                        else
                        {
                            <span class="text-muted">Class is fully booked</span>
                        }
                        <a id="delete" asp-asp-controller="Class" asp-action="DeleteClass" asp-route-id="@classItem.ClassID" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No classes available.</p>
}
