@model GuitarBookingSystem.Models.Class

<h2>Class Details</h2>

<p>Class ID: @Model.ClassID</p>
<p>Start Time: @Model.StartTime</p>
<p>End Time: @Model.EndTime</p>
<p>Capacity: @Model.Capacity</p>

@Html.ActionLink("Back to Available Classes", "AvailableClasses", "Class")
