@model dotnetapp1.Models.Book

@{
    ViewBag.Title = "Delete Book";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Your layout file
}

<h2>Delete Book</h2>

<div>
    <h4>Are you sure you want to delete this item?</h4>
    <div>
        <h4>@Model.Name</h4>
        <p>@Model.Author</p>
        <p>@Model.Language</p>
        <p>@Model.Type</p>
        <p>@Model.Title</p>
    </div>
    @using (Html.BeginForm("Delete", "Book", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id) <!-- Assuming Id is used to identify the book -->
        <input type="submit" value="Delete" class="btn btn-danger" />
    }
</div>
