@model dotnetapp.Models.Booking

<h1>Delete Booking</h1>

<h3>Are you sure you want to delete this booking?</h3>
<div>
    <h4>Booking ID: @Model.BookingId</h4>
    <h4>Vehicle ID: @Model.VehicleId</h4>
    <h4>Start Date: @Model.StartDate.ToShortDateString()</h4>
    <h4>End Date: @Model.EndDate.ToShortDateString()</h4>
</div>

@using (Html.BeginForm("DeleteConfirmed", "Booking", new { id = Model.BookingId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Details">Back to List</a>
    </div>
}
