@model GuitarBookingSystem.Models.Student
@{
    var classid = Context.Request.Query["classid"];
}
<h1>Enroll in Guitar Class</h1>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id="name" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", id="email"})
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Class", "Class")
        <input type="text" id="ClassID" name="ClassID" class="form-control" value="@classid" readonly />
    </div>

    @* <input type="hidden" name="ClassID" value="@classId" /> *@

    <button type="submit" class="btn btn-primary" id="enrollButton">Enroll</button>

    @Html.ActionLink("Back to Available Classes", "AvailableClasses", "Class")
}
