@model GuitarBookingSystem.Models.Student
@{
    var classId = ViewBag.ClassId;
}
<h2>Enroll in Guitar Class</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>

    <input type="hidden" name="ClassID" value="@classId" />

    <button type="submit" class="btn btn-primary">Enroll</button>

    @Html.ActionLink("Back to Available Classes", "AvailableClasses", "Class")
}
